<div>
    <h2 id="page-heading">
        <span jhiTranslate="efwApp.feeling.home.title">Feelings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-feeling" [routerLink]="['/feeling/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="efwApp.feeling.home.createLabel">
            Create new Feeling
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'efwApp.feeling.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="feelings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="feeltype"><span jhiTranslate="efwApp.feeling.feeltype">Feeltype</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="capacity"><span jhiTranslate="efwApp.feeling.capacity">Capacity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isSpeechable"><span jhiTranslate="efwApp.feeling.isSpeechable">Is Speechable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="feelWheelId"><span jhiTranslate="efwApp.feeling.feelWheel">Feel Wheel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let feeling of feelings ;trackBy: trackId">
                <td><a [routerLink]="['/feeling', feeling.id, 'view' ]">{{feeling.id}}</a></td>
                <td jhiTranslate="{{'efwApp.FeelType.' + feeling.feeltype}}">{{feeling.feeltype}}</td>
                <td>{{feeling.capacity}}</td>
                <td>{{feeling.isSpeechable}}</td>
                <td>
                    <div *ngIf="feeling.feelWheelId">
                        <a [routerLink]="['../feel-wheel', feeling.feelWheelId , 'view' ]" >{{feeling.feelWheelId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/feeling', feeling.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/feeling', feeling.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'feeling/'+ feeling.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
