<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-feeling-heading" jhiTranslate="efwApp.feeling.home.createOrEditLabel">Create or edit a Feeling</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!feeling.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="feeling.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efwApp.feeling.feeltype" for="field_feeltype">Feeltype</label>
                    <select class="form-control" name="feeltype" [(ngModel)]="feeling.feeltype" id="field_feeltype"  required>
                        <option value="ANGRY">{{'efwApp.FeelType.ANGRY' | translate}}</option>
                        <option value="SAD">{{'efwApp.FeelType.SAD' | translate}}</option>
                        <option value="HAPPY">{{'efwApp.FeelType.HAPPY' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.feeltype?.dirty && editForm.controls.feeltype?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.feeltype?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efwApp.feeling.capacity" for="field_capacity">Capacity</label>
                    <input type="number" class="form-control" name="capacity" id="field_capacity"
                        [(ngModel)]="feeling.capacity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efwApp.feeling.isSpeechable" for="field_isSpeechable">Is Speechable</label>
                    <input type="checkbox" class="form-control" name="isSpeechable" id="field_isSpeechable"
                        [(ngModel)]="feeling.isSpeechable" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efwApp.feeling.feelWheel" for="field_feelWheel">Feel Wheel</label>
                    <select class="form-control" id="field_feelWheel" name="feelWheel" [(ngModel)]="feeling.feelWheelId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="feelWheelOption.id" *ngFor="let feelWheelOption of feelwheels; trackBy: trackFeelWheelById">{{feelWheelOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
