<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feeling">
            <h2><span jhiTranslate="efwApp.feeling.detail.title">Feeling</span> {{feeling.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="efwApp.feeling.feeltype">Feeltype</span></dt>
                <dd>
                    <span jhiTranslate="{{'efwApp.FeelType.' + feeling.feeltype}}">{{feeling.feeltype}}</span>
                </dd>
                <dt><span jhiTranslate="efwApp.feeling.capacity">Capacity</span></dt>
                <dd>
                    <span>{{feeling.capacity}}</span>
                </dd>
                <dt><span jhiTranslate="efwApp.feeling.isSpeechable">Is Speechable</span></dt>
                <dd>
                    <span>{{feeling.isSpeechable}}</span>
                </dd>
                <dt><span jhiTranslate="efwApp.feeling.feelWheel">Feel Wheel</span></dt>
                <dd>
                    <div *ngIf="feeling.feelWheelId">
                        <a [routerLink]="['/feel-wheel', feeling.feelWheelId, 'view']">{{feeling.feelWheelId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feeling', feeling.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
