<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feelWheel">
            <h2><span jhiTranslate="efwApp.feelWheel.detail.title">Feel Wheel</span> {{feelWheel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="efwApp.feelWheel.subject">Subject</span></dt>
                <dd>
                    <span>{{feelWheel.subject}}</span>
                </dd>
                <dt><span jhiTranslate="efwApp.feelWheel.from">From</span></dt>
                <dd>
                    <span>{{feelWheel.from}}</span>
                </dd>
                <dt><span jhiTranslate="efwApp.feelWheel.to">To</span></dt>
                <dd>
                    <span>{{feelWheel.to}}</span>
                </dd>
                <dt><span jhiTranslate="efwApp.feelWheel.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="feelWheel.employeeId">
                        <a [routerLink]="['/employee', feelWheel.employeeId, 'view']">{{feelWheel.employeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feel-wheel', feelWheel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
